<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>COVID19 Tracker</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

    <!-- CSS only -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
</head>

<body>
<div class="container">
<h1>COVID-19 Tracker App</h1>
<p>Current number of cases</p>

<div class="jumbotron">
    <h1 class="display-4" th:text="${totalReportedCases}"></h1>
    <p class="lead">Total cases reported as of today</p>
</div>

    <table class="table">
        <tr>
            <th>Country</th>
            <th>Total cases reported</th>
            <th>24h delta</th>
        </tr>
        <tr th:each="locationStat : ${locationStats}">
            <td th:text="${locationStat.country}"></td>
            <td th:text="${locationStat.latestTotalCases}">0</td>
            <td th:text="${locationStat.diffFromPrevDay}">0</td>
        </tr>
    </table>
</div>

</body>

</html>